@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
	font-family: 'Oswald', sans-serif;
	user-select: none;
	overflow: hidden
}

.main-container {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 24px;
	width: 300px;
	height: 58px;
	
	background: radial-gradient(50% 50% at 50% 50%, rgba(43, 57, 98, 0.4) 0%, rgba(36, 39, 63, 0.7) 100%);
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.47);
	border-radius: 3px;

	position: absolute;
	top: 32px;
  	right: 32px;
	font-weight: 500;
	font-size: 24px;
	color: white;
}

.actual-id {
	color: #56fdfd;
}