html{
  /* zoom: 60%; */
  display: none;
}
body{
  /* background-color: #15181d; */
  font-family: sans-serif;
}

.title{
  text-align: center;
  color: white;
}
.description{
  text-align: center;
  color: gray;
}

/**
MINIGAME SQUARES
*/
.streaks {
  display: block;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #028000;
  padding: 12px;
  border-radius: 18px;
}
.options{
  font-weight: bold;
  text-align: center;
  margin: 0 auto 10px;
}
.option{
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  background-color: #20282e;
  padding: 10px 20px;
  margin: 0 auto 10px;
  border-radius: 6px;
}
.option.numbers input,
.option.speed input{
  vertical-align: text-top;
}
.numbers_value,
.speed_value{
  display: inline-block;
  width: 18px;
  text-align: right;
}
.splash2{
  display: inline-block;
  width: 100%;
  margin: 352px auto;
  text-align: center;
  color: white;
  font-size: 16px;
}
.btn_again {
  margin: -15px auto;
  padding: 15px 20px;
  font-weight: bold;
  display: block;
  color: #ffffff;
  background-color: #2c465e;
  border: 1px solid #16181d;
  cursor: pointer;
}
.btn_again:hover {
  background-color: #425e79;
}
.groups .btn_again{
  margin: 0 auto;
}
.splash{
  display: inline-block;
  width: 100%;
  margin: 352px auto;
  text-align: center;
  color: white;
  font-size: 16px;
}
.splash .hacker{
  font-size: 64px;
  margin-bottom: 30px;
}
.splash .message{
  font-size: 24px;
}
.splash .sub_message{
  display: block;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 100px;
}
.minigametwo{
  margin: 0 auto 20px;
  width: 1536px;
  min-width: 1536px;
  max-width: 1536px;
  height: 865px;
  min-height: 865px;
  max-height: 865px;
  background-color: #ff0000;
  position: relative;
}
.beforestart{
  margin: 0 auto 0;
  width: 100%;
  min-width: 1536px;
  max-width: 1536px;
  height: auto;
  min-height: 865px;
  max-height: 865px; 
  background-color: #18527d;
  border-radius: 10px;
  border-color: #16181d;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.minigame{
  margin: 0 auto 20px;
  width: 1536px;
  min-width: 1536px;
  max-width: 1536px;
  height: 865px;
  min-height: 865px;
  max-height: 865px;
  background-color: #18527d;
  border-radius: 10px;
  border-color: #16181d;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.failending{
  margin: 0 auto 20px;
  width: 1536px;
  min-width: 1536px;
  max-width: 1536px;
  height: 865px;
  min-height: 865px;
  max-height: 865px;
  background-color: #18527d;
  border-radius: 10px;
  border-color: #16181d;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.successending{
  margin: 0 auto 20px;
  width: 1536px;
  min-width: 1536px;
  max-width: 1536px;
  height: 865px;
  min-height: 865px;
  max-height: 865px;
  background-color: #18527d;
  border-radius: 10px;
  border-color: #16181d;
  border-width: 2px;
  border-style: solid;
  position: relative;
}
.groups{
  position: relative;
  user-select: none;
}
.group{
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: #10487f;
  cursor: pointer;
  text-align: center;
  font-size: 62px;
  color: #ffffff;
  line-height: 100px;
  border: 1px solid white;
}
.groups.playing .group{
  color: transparent;
}

.group.bg1{
  background-color: #ff0000;
}
.group.bg2{
  background-color: #48ff00;
}
.group.bg3{
  background-color: #003859;
}
.group.bg4{
  background-color: #dd00ff;
}
.group.bg5{
  background-color: #003602;
}
.group.bg6{
  background-color: #ffa200;
}
.group.bg7{
  background-color: #570d0d;
}
.group.bg8{
  background-color: #bb63ff;
}
.group.bg9{
  background-color: #bfa84a;
}

.group.good{
  background-color: #3a5c81;
  border: none;
}
.group.bad{
  background-color: #802525;
  border: none;
}

.credits{
  text-align: center;
  color: gray;
}
.credits a{
  color: #ccc;
}
.credits b{
  color: white;
}

.hidden {
  display: none;
}
.hiddden {
  display: none;
}